.container {
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    max-width: 1340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.links {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.links {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
    padding: 10px 0;
}

.links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 0;
    height: 2px;

    background: #00D9FF;
    transition: width .3s ease;
}

.links:hover {
    color: #00D9FF;
}

.links:hover::after {
    width: 100%;
}